.account-wrapper
  .account-wrapper-inner
    .account-main
      %h2 アカウントの編集
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .form-label
          = f.label :ニックネーム
          %em (20文字以内)
          %br/
          = f.text_field :name, autofocus: true, class: "form-field"
        .form-label
          = f.label :プロフィール
          %em (200文字以内)
          %br/
          = f.text_area :profile, autofocus: true, class: "form-area"
        .form-label
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-label
          = f.label :現在のパスワード
          %br (変更する場合は空欄にしてください)
          = f.password_field :current_password, autocomplete: "current-password", class: "form-field"
        .form-label
          = f.label :パスワード
          %em
            (#{@minimum_password_length} 文字以上)
          %br (変更する場合は入力してください)
          = f.password_field :password, autocomplete: "new-password", class: "form-field"
        .form-label
          = f.label :もう一度パスワードを入力してください
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field"
        .form-label
          = f.label :プロフィール画像
          %br/
          = f.file_field :image
        .actions
          = f.submit "アカウントを更新する", class: "actions-btn"
      %h3 #{button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
      %br
      = link_to "戻る", :back
