.album.py-4
  .container.post
    .row
      .col-lg-4.col-md-6.mb-3
        %h5 #{icon("fas", "user")} #{@user.name}のページ
    .card.user.mb-4
      .card-body
        .row
          .col-sm-2
            .user-img-box
              - if user_signed_in? && current_user
                = image_tag @user.image.url, class: "user-img img-fliud"
              - else 
                = image_tag "/assets/default.png", alt: "testuser", class: "user-img img-fliud"
          .col-sm-10
            .row
              .col-sm-12.col-md-12.py-1.border-bottom.border-secondary
                = @user.name
            .row.no-gutters
              .col-sm-12.col-md-12.pt-1
                = "#{@user.profile}"
        .row
          .col-md-12.pt-1.card-text.d-flex.align-items-center.justify-content-between
            = render partial: 'relationships/follow'
          .col-md-12.pt-1.card-text
            = "投稿数 #{@counts}"
          .col-md-12.pt-1.card-text
            総いいね
            = @likes
          .col-sm-12.col-md-12
            - if user_signed_in? && current_user.id == @user.id && current_user.name != "testさん"
              = link_to "編集", edit_user_registration_path(@user.id)
              

    .row
      - @posts.each do |post|
        .col-lg-4.col-md-12.mb-3
          .card.shadow-sm
            - post.images.each do |image|
              .img-box
                = link_to (image_tag image.src.url), post_path(post.id), class: "img"
                = icon("fas", "external-link-alt", class: "search-icon")
              .col-md-12
                .card.py-2.mt-12
                  = link_to (post.title), post_path(post.id), class: "text"
                  .row
                    .col-sm-8.date
                      = icon("far", "clock")
                      = post.created_at.strftime("%Y-%m-%d %H:%M")
                    .col-sm-4.like
                      %div{:id => "likes_buttons_#{post.id}"}
                        = render partial: 'likes/like',locals: { post: post}
                  .tag
                    - if post.tags
                      - post.tags.each do |tag|
                        = link_to tag_posts_path(tag_id: tag.id), class: "tag mb-1, mr-1" do
                          = icon("fas", "tag")
                          = tag.name