- if user_signed_in? && current_user.id == @user.id && current_user.name != "testさん"
  = link_to "編集", edit_user_registration_path(@user.id)

- if user_signed_in? && current_user.image
  = image_tag @user.image.url
- else 
  = image_tag "/assets/default.png", size: "50x50", alt: "testuser"

= "profile : #{@user.profile}"

= @user.name + "の投稿一覧"
- @posts.each do |post|
  %span タイトル
  = link_to (post.title), post_path(post.id)
  %span コンテンツ
  = post.content
  - post.images.each do |image|
    = link_to (image_tag image.src.url), post_path(post.id)
  - post.tags.each do |tag|
    = link_to (tag.name), tag_posts_path(tag_id: tag.id)

= render partial: 'relationships/follow'