.album.py-4
  .container
    .row
      .col-lg-12.col-md-12.mb-3
        .card.shadow-sm-2.show
          .img-box2
            - @post.images.each do |image|
              = image_tag image.src.url, class: "img2 img-fluid"
          .col-md-12.border-bottom.border-secondary
            .card.py-2.mt-12
              = @post.title
              .row
                .col-sm-8.date
                  = @post.created_at.strftime("%Y-%m-%d %H:%M")
                .col-sm-4.like
                  = render partial: 'likes/like',locals: { post: @post}
              .tag
                - if @post.tags
                  - @post.tags.each do |tag|
                    = link_to tag_posts_path(tag_id: tag.id), class: "tag mb-1, mr-1" do
                      = icon("fas", "hashtag")
                      = tag.name
          .col-md-12.pt-2
            = link_to (@post.user.name), user_path(@post.user_id), class: "name"
          .col-md-12
            .card-text.pt-2.content
              = simple_format(@post.content)
          .col-md-12.text-right.edit
            - if user_signed_in? && current_user.id == @post.user_id
              = link_to "編集", edit_post_path(@post.id)
              = link_to "削除", post_path(@post.id), method: :delete

  .container
    .row
      .col-md-12
        .card.comments
          .card-text.pl-3.pb-2.border-bottom.border-secondary
            コメント一覧
            %em (300文字以内)
          .comments
            - if @comments
              - @comments.each do |comment|
                .card-text-comments
                  .row
                    .col-sm-2.col-md-2
                      = link_to (comment.user.name), user_path(comment.user_id), class: "name"
                    .col-sm-8.col-md-8.card-text
                      = simple_format(comment.text)
                    .col-sm-2.col-md-2
                      - if user_signed_in? && current_user.id == comment.user_id
                        = link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete

.fotter.text-center
  .container
    .row
      .col
        - if current_user
          = form_with(model: [@post, @comment], local: true, id: "new_comment") do |f|
            = f.text_area :text, placeholder: "コメント入力欄", rows: "2" , class: "textbox p-2"
            = f.submit "投稿する", class: "form__submit"
        - else
          = "*** コメントの投稿には新規登録/ログインが必要です ***"