= link_to (@post.user.name), user_path(@post.user_id)
= @post.title
= @post.content
- @post.images.each do |image|
  = image_tag image.src.url

- if user_signed_in? && current_user.id == @post.user_id
  = link_to "編集", edit_post_path(@post.id)
  = link_to "削除", post_path(@post.id), method: :delete

= render partial: 'likes/like',locals: { post: @post}

%br
- if current_user
  = form_with(model: [@post, @comment], local: true, id: "new_comment") do |f|
    = f.text_area :text, placeholder: "コメントする", rows: "2" , class: "textbox"
    = f.submit "投稿する", class: "form__submit"
- else
  = "*** コメントの投稿には新規登録/ログインが必要です ***"

%br
- if @tags
  - @tags.each do |tag|
    = link_to (tag.name), tag_posts_path(tag_id: tag.id)

%br
.comments
- if @comments
  - @comments.each do |comment|
    %span ユーザー名：
    = link_to (comment.user.name), user_path(comment.user_id)
    %span コメント：
    = comment.text
    - if user_signed_in? && current_user.id == comment.user_id
      = link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete